button{
        background-color: lawngreen;
        border: none;
        width: 300px;
        height: 50px;
        border-radius: 25px;
        font-size: 20px;
        color: white;
    }
    button:hover{
        background-color: hotpink;
        cursor: pointer;
        transition: 0.3s;
    }
    img{
        width:175px;
        height: 350px;
        border-radius: 25px;
    }
    img:hover{
        width: 200px;
        transition:0.45s;
    }
    .card{
        background-color: lightgray;
        text-align: center;
        width: 450px;
        margin: 50px auto;
        border-radius: 50px auto;
        border-radius: 25px;
    }
    .card:hover{
        background-color: burlywood;
        transition: 0.3s;
        box-shadow: 10px 5px rgba(0, 0, 0, 0.114);
    }
    h1{
        color: indigo;
        transition: 0.3s;
    }
    h1:hover{
        color:aquamarine;
        transition: o.3s;
    }
    .Job{
        color: blueviolet;
    }
    p{
        color: blue;
        transition: 0.3s;
    }
    p:hover{
        color: indigo;
        transition: 0.3s;
    }
    body{
        margin: 0;
    }
    nav{
        background-color: lightskyblue;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    .logo{
        color: white;
    }
    .menu ul{
        display: flex;
        gap: 20px;
    }
    .menu ul li{
        list-style: none;
    }
    .menu ul li a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    .menu ul li a:hover{
        color: greenyellow;
        transition: 0.4s;
        font-size: 120%;
    }
    .btn-wa{
    
        background-color: green;
        padding: 10px 20px;
        margin-right: 20px;
        border-radius: 20px;
    }
    .btn-wa:hover{
        background-color: blue;
    }
    .logo img{
        width: 20px;
        margin: 0;
        padding: 0;
    }

    .hero{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-left{
        max-width: 70%;
    }

    .hero-left h1{
        font-size: 48px;
        margin-bottom: 20px;
        color: darkblue;
    }

    .hero-left p{
        color: gray;
        font-size: 15px;
    }

    .hero-right img{
        width: 200px;
        border-radius: 20px;
        box-shadow: 0 15px 20px rgba
        (0, 0, 0, 0.624);
        margin: 80px;

    }

    /*dibawah ini styling 
    contact */

    .contact{
        padding: 80px;
        background-color: grey;
    }

    .contact-container{
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: flex-start;
        
    }

    .contact-info{
        max-width: 400px;
    }

    .contact h2{
        text-align: center;
    }

    .contact-info p {
        margin-bottom: 25px;
        color: black;
    }

    .contact-map iframe{
        border-radius: 20px;;
    }

  